<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      body{
      
        background: rgb(25,37,99);
        background: radial-gradient(circle, rgba(25,37,99,1) 0%, rgba(0,0,0,1) 100%);
        color: azure;
      }
      
      
    </style>
  </head>
  <body>

  <div class="container my-4 mt-4">
<h6><b> About Raja Retnam :  Full Stack Developer / AI Engineer</b>
</h6>
<h5>Meet the Developer</h5>

<p>Hello, I'm Raja Retnam, your Full Stack Developer with over 2 years of self-learning and project experience in the field. I am passionate about technology and coding to make a positive impact on people's lives.
</p>
<h5>My Expertise
</h5>
<p>With a strong foundation in HTML, CSS, JavaScript, React, Node.js, PHP, and Python, I excel in building scalable web applications and creating intelligent AI models. Proficient in SQL, Machine Learning, and backend integration, I have developed successful projects spanning student management systems, recommendation systems, and smart IoT solutions. My work includes creating responsive, user-friendly websites and powerful data-driven applications.
</p>
<h5>A Commitment to Excellence
</h5>
<p>My work is driven by a commitment to excellence and a belief that technology should be accessible and beneficial to everyone. Whether it's developing AI-powered models, designing intelligent user interfaces, or creating real-time data analysis systems, I strive for solutions that are both cutting-edge and user-centric.
</p>

<h5>Join Me on this Journey
</h5>
<p>I invite you to explore and experience firsthand the power of AI and Full Stack Development. Together, we can empower individuals with knowledge, promote well-being, and contribute to a brighter and more connected future.
</p>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>